<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NdoroKojo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.updateTernak.UpdateTernakActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.detailkandang.DetailKandangActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.detailnews.DetailNewsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.buy.BuyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.sell.SellActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.died.DiedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.birth.BirthActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Auth" />
        <activity
            android:name=".ui.tambahkandang.TambahKandangActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.InputDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.profilesettings.ProfileSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.updateprofile.UpdateProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NdoroKojo.Main" />
    </application>

</manifest>